<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
<div class="alert alert-danger d-flex align-items-center col-6 offset-2" role="alert">
    
    <div>
      <p class="alert-heading"><%=message%></p>
    </div>
  </div></div>